{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    [
      "babel-root-import",
      "babel-plugin-transform-inline-environment-variables",
      "babel-plugin-transform-class-properties",
      "babel-plugin-transform-object-rest-spread",
      "react-hot-loader/babel"
    ]
  ]
}
