{
  "extends": "airbnb",
  "rules": {
    "strict": ["off"],
    "no-underscore-dangle": ["off"],
    "comma-dangle": ["error", "never"],
    "arrow-body-style": ["error", "always"],
    "max-len": ["off"],
    "no-console": ["off"],
    "no-useless-constructor": ["off"],
    "no-debugger": ["warn"],
    "no-restricted-syntax": ["off"],
    "new-cap": ["off"],
    "consistent-return": ["off"]
  },
  "globals": {
    "React": true,
    "ReactDOM": true
  },
  "parser": "babel-eslint"
}