@import "./variables.css";

/* define css mixin using postcss-mixins */
@define-mixin card {
  border: 1px solid $light-gray;
  border-radius: $corner-radius;
  position: relative;
  padding: 16px;
  margin: 8px;
}

@custom-media --iphone4-potrait  only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2);

@custom-media --iphone4-landscape  only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape);

@custom-media --iphone5-potrait  only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2);

@custom-media --iphone5-landscape  only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape);

@custom-media --iphone6-potrait  only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2);

@custom-media --iphone6-landscape  only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape);


@custom-media --iphone6plus-potrait  only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3);

@custom-media --iphone6plus-landscape  only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape);
