@import "../../../../../assets/css/variables.css";

.navItem {
  list-style: none;
  padding: 0 0 0 16px;

  a {
    text-decoration: none;
    color: $blue-react;

    &.active {
      text-decoration: normal;
      cursor: default;
      color: #4daec9;
    }
  }
}
