.root {
  background-color: #ffffff;
  width: 100%;

  .content {
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 16px;
  }

  .bg {
    background: url('../../../assets/images/bg-darker.jpg') center;
    background-position-y: -200px;
  }
}
