@import '../../../assets/css/variables.css';
@import '../../../assets/css/mixins.css';

.root {
  @mixin card;

  background-color: #ffffff;
  color: $blue-react;
  font-weight: bold;
  border: none;

  text-align: center;
}

.container {
  display: flex;

  div {
    flex-grow: 1;
    color: $bobowl;
    width: 50%;

    h1 {
      text-align: left;
      color: $bobowl;
      margin: 0;
    }
    h2 {
      text-align: left;
      color: $bobowl;
      margin: 0;
    }
    p {
      text-align: right;
      color: $bobowl;
      margin: 0;
    }
    a {
      color: $bobowl;
    }
  }

}
