@import '../../../assets/css/variables.css';
@import '../../../assets/css/mixins.css';

.root {
  @mixin card;

  background-color: #ffffff;
  color: $blue-react;
  font-weight: bold;
  border: none;

  text-align: center;
}

.logo {
  width: 26rem;
  height: 26rem;
}

.heading {
  margin-bottom: 0;
}

.content {
  margin-top: 0;
}

.button {
  color: $blue-react;
  border-color: $blue-react;
  margin-top: 16px;
  height: 48px;
  background-color: rgba(0, 0, 0, .05);

  &:hover {
    background-color: rgba(0, 0, 0, .0);
  }
}
