@import '../../../assets/css/variables.css';
@import '../../../assets/css/mixins.css';

.root {
  @mixin card;
  color: $blue-react;
  font-weight: bold;
  border: none;

  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  width: 25rem;
  height: 9.4rem;
}

.heading {
  margin-top: 1.2rem;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: bold;
  font-stretch: wider;
  font-size: 2.2rem;
  letter-spacing: 1rem;
}

.content {
  margin-top: 0;
}

.button {
  color: $blue-react;
  border-color: $blue-react;
  margin-top: 16px;
  height: 48px;
  background-color: rgba(0, 0, 0, .05);

  &:hover {
    background-color: rgba(0, 0, 0, .0);
  }
}
